[irc]
endpoint = tcp:host=irc.dftba.net:port=6667
nickName = thething
realName = thething

channels = #test

[sauron]
workdir = ./workdir

[mail]
enabled = false
address = bot@mail.com
recipients = recipient@mail.com
server = 127.0.0.1
port = 25
smtp_user =
smtp_pass =