# IRC settings
HOST = "chat.freenode.net"
PORT = 6667
USE_SSL = False
NICKNAME = "thething"
REALNAME = "thething"

CHANNEL = "#test"

# Trigger phrases, in lowercase
TRIGGERS = (
    "that's what she said",
    )

# Process settings
LOG_FILE = "./sauronbot.log"
